<div class="delay-[300ms] duration-[600ms] taos:translate-y-[200px] taos:opacity-0" data-taos-offset="300">
    <div class="duration-[1000ms] [animation-iteration-count:infinite] taos:opacity-0">
        <section class="mt-32 bg-white dark:bg-white">
            <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-8 lg:px-1">
                <h1 class="mb-4 text-4xl font-extrabold tracking-tight leading-none text-gray-900 md:text-5xl lg:text-6xl dark:text-black">Alumni Memoirs</h1>
                <p class="mb-8 text-4xl font-normal text-black lg:text-xl sm:px-28 xl:px-128 dark:text-black">Everybody has a story. And there's something to be learnt from every experience.</p>
                    <div class="grid mb-8 border border-gray-200 rounded-lg shadow-sm dark:border-[#6b502d] md:mb-12 md:grid-cols-2 bg-white dark:bg-[#f1eedc]">
                        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-[#6b502d] rounded-t-lg md:rounded-t-none md:rounded-ss-lg md:border-e dark:bg-[#f1eedc] dark:border-[#6b502d]">
                            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-950">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Prioritize continuous upskilling</h3>
                                <p class="my-4">"The technological landscape evolves rapidly, making it crucial for professionals in tech, businees, or marketing to stay updated with the latest tools and trends"</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center ">
                                <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-12 w-12 rounded-full" , srcPath:"./media/profileImages/memoir_rishabh.jpeg", altPath:""}) %>
                                <div class="space-y-0.5 font-medium dark:text-gray-950 text-left rtl:text-right ms-3">
                                    <div>Rishabh Shukla</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-950 ">Product Manager at Paytm</div>
                                </div>
                            </figcaption>    
                        </figure>
                        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-[#6b502d] md:rounded-se-lg dark:bg-[#f1eedc] dark:border-[#6b502d]">
                            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-950">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Don't try to get too far ahead of yourself</h3>
                                <p class="my-4">"If you consider the process as an investment towards the end goal, then you're creating far worse opportunity cost for yourself. So, for all the selfish reasons, start enjoying the process."</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center ">
                                <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-12 w-12 rounded-full" , srcPath:"./media/profileImages/memoir_prabhas.jpeg", altPath:""}) %>
                                <div class="space-y-0.5 font-medium dark:text-gray-950 text-left rtl:text-right ms-3">
                                    <div>Prabhash Jain</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-950">Associate Software Engineer, Microsoft</div>
                                </div>
                            </figcaption>    
                        </figure>
                        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-b border-[#6b502d] md:rounded-es-lg md:border-b-0 md:border-e dark:bg-[#f1eedc] dark:border-[#6b502d]">
                            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-950">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Benefit from the experiences of your seniors</h3>
                                <p class="my-4">"Without doing something wrong, you will never know that you are doing anything wrong, and without talking, you will never realize that you are. So talk to your seniors, reach out to your alumni, learn to benefit from their experiences."</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center ">
                                <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-12 w-12 rounded-full" , srcPath:"./media/profileImages/memoir_ujjwal.jpeg", altPath:""}) %>
                                <div class="space-y-0.5 font-medium dark:text-gray-950 text-left rtl:text-right ms-3">
                                    <div>Ujjwal Anand</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-950">Senior Software Engineer, Razorpay</div>
                                </div>
                            </figcaption>    
                        </figure>
                        <figure class="flex flex-col items-center justify-center p-8 text-center bg-white border-[#6b502d] rounded-b-lg md:rounded-se-lg dark:bg-[#f1eedc] dark:border-[#6b502d]">
                            <blockquote class="max-w-2xl mx-auto mb-4 text-gray-500 lg:mb-8 dark:text-gray-950">
                                <h3 class="text-lg font-semibold text-gray-900 dark:text-black">Avoid Deadline pressure</h3>
                                <p class="my-4">"My aversion to deadline pressure, the prospect of a chill life coupled with continuous learning fueled my passion for research, shaped my carrer trajectory."</p>
                            </blockquote>
                            <figcaption class="flex items-center justify-center ">
                                <%- include('../common/imageSkeletonLoader.ejs', {classes:"h-12 w-12 rounded-full" , srcPath:"./media/profileImages/memoir_krati.jpeg", altPath:""}) %>
                                <div class="space-y-0.5 font-medium dark:text-gray-950 text-left rtl:text-right ms-3">
                                    <div>Krati Saxena</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-950">Senior Software Engineer, Alien Technology Transfer</div>
                                </div>
                            </figcaption>    
                        </figure>
                    </div>
            </div>
        </section>
    </div>
</div>